@import url('https://fonts.googleapis.com/css2?family=Muli:wght@600&display=swap');

body{
    margin: 0;
    font-family: 'Muli', sans-serif;
}
/*-------------------------------------*/

.header{
    height: 12em;
    width: 100%;
    
    box-sizing: border-box;

    background-size: cover;
    background-position: center;
    background-image: url("imgs/RichYMoryWide_1_4.jpg");
}

.section{
    width: 100%;

    box-sizing: border-box;
    background-color: #3a506b;
}

.footer{
    height: 8em;
    width: 100%;

    box-sizing: border-box;
    background-image: linear-gradient(to top, rgba(29, 53, 87, 1), rgba(58, 80, 107, 1));
}

/*----------------------------------------*
 *-------------TAB-CONTAINER-------------*/
.tab-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color:#eff7f6;
    text-align: center;
    background-image: linear-gradient(to top , rgba(58, 80, 107, 1), rgba(50, 120, 163, 0.4));
}

.tab-container__title{
    font-size: 1.3em;
}

.tab-container__info{
    width: 100%;
    padding: 10px 0;
}

.tab-container__info p{
    width: 90%;
    margin: 0 auto;

    font-size: .9em;
}
/*-------------TAB-CONTAINER-------------*
 *----------------------------------------*/


/*----------------------------------------*
 *-------------PAGE-CONTAINER-------------*/
.page-container{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.character-container{
    width: 100%;
    height: 100%;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.button-container{
    padding-top: 30px;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-around;
}

.button-container button{
    width: 30%;
    line-height: 30px;
    outline: none;

    color:#eff7f6;
    background-color: transparent;
    border: solid #eff7f6;
    border-radius: 10px;

    cursor: pointer;
}

.button-container button:active{
    background-color: #001233;
}

.character-container__character-info{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    border-radius: 10px;

    box-sizing: border-box;
    color: #eef4ed;
    box-shadow: 5px 7px 0 #5bc0be;

    position: relative;
    border: #eef4ed solid;
    background-color: #007ea7;
}

.description{
    margin: 0;
    text-align: center;
}

.character-image{
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-color: yellowgreen;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.character-name{
    padding-left: 5px;
    padding-right: 5px;
}

.character-dimension{
    font-size: .9em;
    color: #b7e4c7;
}

.character-status{
    top: 0;
    left: 0;

    border-bottom:  solid; 
    border-right: solid; 
    border-bottom-right-radius: 10px;

    padding: 0 5px;
    position: absolute;
}

.character-status--dead{
    color: #ff9e9e;
}

.character-status--alive{
    color: #deffa9;
}

.character-status--unknown{
    color: #9ec8ff;
}
/*----------------------------------------*
 *-------------PAGE-CONTAINER-------------*/


/*------------------------------------------*
 *-------------FOOTER-CONTAINER-------------*/
.footer-container{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: flex-end; */
    align-items: center;
}

.footer-container p{
    width: 90%;
    margin: 0;

    color: #eef4ed;
    text-align: center;
    font-size: .9em;
}
/*------------------------------------------*
 *-------------FOOTER-CONTAINER-------------*/


@media (min-width: 425px) {
    .character-container{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (min-width: 600px) {
    .character-container{
        padding-left: 2%;
        padding-right: 2%;

        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .character-container__character-info{
        width: 40%;
        font-size: 1em;
    }
}

@media (min-width: 1024px) {
    .header{
        height: 14em;
        background-position: center 40%;
    }

    .tab-container__info p{
        font-size: 1.1em;
    }

    .button-container button{
        box-shadow: 5px 5px 0 #5bc0be;
        transition: 1s box-shadow,
                   .2s background-color;
    }
    
    .button-container:last-child{
        display: none;
    }
    
    .character-container__character-info{
        width: 24%;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1.2em;
    }
    
    .button-container button:hover{
        box-shadow: none;
    }

    .image{
        width: 90%;
    }

    .footer-container p{
        font-size: 1em;
    }
}